body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid blue; */
    min-height: 98vh;/*this is cheating*/
    
    
}
button{
    border: 1px solid black;
    padding: 1vw;
    font-size: 2vw;
    font-family: unset;
}
h1{
    font-size: 3rem;
}
#container{
    display:flex;
    /* border: 1px solid green; */

}
#text{
    font-size: 2rem;
    /* border: 1px solid red; */
    flex-basis: 75vw;
    white-space: break-spaces;
    overflow-wrap: break-word;
    overflow:auto;
}
#score{
    /* border: 1px solid red; */
    flex-basis: 25vw;
}
.typed{
    color: black;
}
.error{
    color: red;
    text-decoration: underline;
}
.untyped{
    color: grey;
}

#dictionary{
    font-size:1.5rem;
    /* border: 1px solid green; */

}
#syllables{
    font-weight: bold;
}
.definition-number{
    font-weight: bold;
}
.part-of-speech{
    font-style: italic;
}
.cursor-blink{
    color: white;
    background-color: black;
}

#start{
    
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.invisible{
    visibility: hidden;
}